<% title '联系直达客' %>
<% meta_keywords '网店，微店建设，O2O营销，企业网站建设，微信公共号开发，百度直达号开发，适配网站建设' %>
<% meta_description '直达客平台为企业提供O2O全网营销解决方案，五个产品入口，八大营销模式；从直达客开始，移动你的生意！' %>

<h1>联系我们</h1>

<%= render 'form' %>

