<% title '联系直达客' %>
<% meta_keywords '联系我们' %>
<% meta_description '直达电话：18080810818' %>

<!-- Main -->
<div id="main-wrapper">
  <div class="container">
    <div class="row">
      <div>
        <%#= image_tag 'map.png' %>
        成都探码科技有限公司是成都知名的大数据及软件服务公司之一，公司核心团队由十多位具有10多年大数据及软件开发经验的国内外优秀人才组成。前身为对美技术外包团队，擅长美国互联网前沿技术，崇尚硅谷创业模式，自主研发有核心技术，曾开发并维护美国拥有上千万用户级的网站，并在网络数据采集，大数据解析方面具有突出的能力。
        <p>直达客是有探码科技推出的专门针对企业开展在线信息化服务的全方位综合解决方案。</p>
        <ul>
          <li>直达客围绕“信息数字化、办公移动化、服务个性化”主线为企业搭建应用信息系统。</li>
          <li>直达客具有自主研发的在线建站CMS系统: <a target="_blank" href="http://www.raincms.cn">RainCMS</a></li>
          <li>直达客具有自主研发的新媒体内容运营平台：<a target="_blank" href="http://app.zhidat.com">直达通</a>。</li>
          <li>直达客是优秀的小程序开发服务商之一。</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="6u">
        公&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;司：成都探码科技有限公司<br/>
        电子邮件：  song@tanmer.com<br/>
        联系电话： <a href="tel:18080810818">180-8081-0818</a><br/>
        工作时间： 周一至周六 9:00-18:00<br/>
        公司地址： 成都市成华区二环路东二段龙湖三千星座A座2801<br/>
        <a target="_blank" href="https://static.meiqia.com/dist/standalone.html?eid=1765" class="button big icon fa-comments">在线咨询</a>
      </div>
      <div class="6u">
        <%= render 'comments/form' %>
      </div>
    </div>
  </div>
</div>
