<% title '联系直达客' %>
<% meta_keywords '联系我们' %>
<% meta_description '直达电话：18080810818' %>

<!-- Main -->
<div id="main-wrapper">
  <div class="container">
    <div class="row">
      <div>
        <%#= image_tag 'map.png' %>
        成都探码科技有限公司成立于2015年9月，公司核心团队由十多位具有10多年软件技术开发经验的国内外优秀人才组成。前身为对美技术外包团队，擅长美国互联网前沿技术，崇尚硅谷创业模式，自主研发有核心技术，曾开发并维护美国拥有上千万用户级的网站，并在网络数据采集，大数据解析方面具有突出的能力。
        <p>直达客是有探码科技推出的专门针对企业开展在线信息化服务的全方位综合解决方案。</p>
        <ul>
          <li>直达客围绕“信息数字化、办公移动化、服务个性化”主线为企业搭建应用信息系统。</li>
          <li>直达客专为企业搭建专业的网络营销产品矩阵。</li>
          <li>直达客帮助更多的企业开展O2O营销，以更低的成本，更快的速度，更有效的方式。</li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="6u">
        公&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;司：成都探码科技有限公司<br/>        
        电子邮件：  song@tanmer.com<br/>
        联系电话： <a href="tel:18080810818">180-8081-0818</a><br/>
        工作时间： 周一至周六 9:00-18:00<br/>
        公司地址： 成都市成华区二环路东二段龙湖三千星座A座2801<br/>
        <ul class="social-links">
          <li class="scrollimation fade-right d4">
            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=77632132&site=qq&menu=yes">
              <%= image_tag('icon-qq-boy.png', alt: '直达客联系QQ', width: '46px', border: '0px') %>
            </a>
          </li>
          <li class="scrollimation fade-right d3">
            <a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=77632132&site=qq&menu=yes">
              <%= image_tag('icon-qq-girl.png', alt: '直达客客服', width: '46px', border: '0px') %></a></li>
          <li class="scrollimation fade-right d2">
            <div id="weixin-qrcode2" class="hidden"><%= image_tag('weixin-qrcode.png', alt: '高大上的维斗喜帖', width: '120px', border: '0px') %></div>
          </li>
          <li>&nbsp;</li>
          <li><wb:share-button appkey="20rxJL" addition="number" type="button"></wb:share-button></li>
        </ul>
      </div>
      <div class="6u">
        <%= render 'comments/form' %>
      </div>
    </div>
  </div>
</div>