<% title '联系直达客' %>
<% meta_keywords '联系我们' %>
<% meta_description '直达电话：18080810818' %>

<!-- Main -->
<div id="main-wrapper">
  <div class="container">
    <div class="row">
      <div class="12u image fit">
        <%= image_tag 'map.png' %>
      </div>
    </div>
    <div class="row">
      <div class="6u">
        公&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;司：成都赛捷科技有限公司<br/>        
        在线 QQ：  77632132<br/>
        联系电话： <a href="tel:18080810818">180-8081-0818</a><br/>
        工作时间： 周一至周六 9:00-18:00<br/>
        公司地址： 成都市成华区二环路东龙湖三千星座A座2802<br/>
      </div>
      <div class="6u">
        <%= render 'comments/form' %>
      </div>
    </div>
  </div>
</div>