<% title '价格方案' %>
<% meta_keywords '价格方案' %>
<% meta_description '直达电话：18080810818' %>

<!-- Main -->
<div id="main-wrapper">
  <div class="container">
    <div class="row">
      <div class="4u">
        <div class="price-box">
          <h1>经济版</h1>
          <table class="default">
            <!-- 产品 -->
            <tr><td class="bg-primary text-center"><h3 class="white">$6800</h3></td></tr>
            <tr><td class=""><i class="fa fa-check-circle"></i> 拥有多终端适配的网站(电脑、手机、Pad)</td></tr>
            <tr><td><i class="fa fa-check-circle"></i> 集成留言/评论/预约接口</td></tr>
            <!-- 前期 -->
            <tr><td><i class="fa fa-check-circle"></i> 根据客户要求定制开发</td></tr>
            <tr><td><i class="fa fa-check-circle"></i> 网站策划、设计、功能分析</td></tr>
            <tr><td><i class="fa fa-check-circle"></i> 产品准备（域名、备案、服务器）</td></tr>
            <tr><td><i class="fa fa-check-circle"></i> 提供技术指导、产品培训、营销顾问</td></tr>
            <!-- 中期 -->

            <!-- 后期 -->
            <tr><td class=""><i class="fa fa-circle-o"></i> 营销顾问驻场指导</td></tr>
            <tr><td><i class="fa fa-check-circle"></i> 售后24小时技术支持</td></tr>
            <tr><td><i class="fa fa-check-circle"></i> 产品终生免费升级</td></tr>
            <tr><td class="bg-warning"><i class="fa fa-circle-o"></i> 多语言版本支持（总价*80%）</td></tr>
            <tr><td class="text-center"><a href="javascript:void(0);" onclick="_MEIQIA._SHOWPANEL();" class="button alt icon fa-arrow-circle-right">在线咨询</a></td></tr>
          </table>
        </div>
      </div>
      <div class="4u">
        <div class="price-box">
          <h1>标准版 </h1>
          <table class="default">
            <tr><td class="bg-primary text-center"><h3 class="white">¥12800</h3></td></tr>
            <!-- 产品 -->
            <tr><td class=""><i class="fa fa-check-circle"></i> 拥有多终端适配的网站(电脑、手机、Pad)</td></tr>
            <tr><td><i class="fa fa-check-circle"></i> 集成即时聊天接口(单独费用800元/年)</td></tr>
            <tr><td><i class="fa fa-check-circle"></i> 集成留言/评论/预约接口 </td></tr>
            <!-- 前期 -->
            <tr><td><i class="fa fa-check-circle"></i> 网站策划、设计、功能分析</td></tr>
            <tr><td><i class="fa fa-check-circle"></i> 产品准备（域名、备案、服务器）</td></tr>
            <tr><td><i class="fa fa-check-circle"></i> 提供技术指导、产品培训、营销顾问</td></tr>
            <!-- 中期 -->
            <tr><td class="bg-info"><i class="fa fa-check-circle-o"></i> 搜索引擎营销(SEO：3-5个品牌关键词)</td></tr>
            <tr><td class="bg-info"><i class="fa fa-check-circle-o"></i> 自媒体营销培训</td></tr>
            <tr><td class="bg-info"><i class="fa fa-check-circle-o"></i> 微信公共号管理培训</td></tr>
            <tr><td class="bg-info"><i class="fa fa-check-circle-o"></i> 微场景应用策划和制作培训</td></tr>
            <!-- 后期 -->
            <tr><td class=""><i class="fa fa-check-circle-o"></i> 营销顾问驻场指导</td></tr>
            <tr><td><i class="fa fa-check-circle"></i> 售后24小时技术支持</td></tr>
            <tr><td><i class="fa fa-check-circle"></i> 产品终生免费升级</td></tr>
            <tr><td class="bg-warning"><i class="fa fa-circle-o"></i> 多语言版本支持（总价*80%）</td></tr>
            <tr><td class="text-center"><a href="javascript:void(0);" onclick="_MEIQIA._SHOWPANEL();" class="button alt icon fa-arrow-circle-right">在线咨询</a></td></tr>
          </table>
        </div>
      </div>
      <div class="4u">
        <div class="price-box">

          <h1>尊享版 </h1>
          <table class="default">
            <tr><td class="bg-primary text-center"><h3 class="white">¥38000</h3></td></tr>
            <!-- 产品 -->
            <tr><td class=""><i class="fa fa-check-circle"></i> 拥有多终端适配的网站(电脑、手机、Pad)</td></tr>
            <tr><td><i class="fa fa-check-circle"></i> 拥有产品二维码营销系统</td></tr>
            <tr><td><i class="fa fa-check-circle"></i> 集成即时聊天接口(单独费用800元/年)</td></tr>
            <tr><td><i class="fa fa-check-circle"></i> 集成留言/评论/预约接口</td></tr>
            <!-- 前期 -->
            <tr><td><i class="fa fa-check-circle"></i> 网站策划、设计、功能分析</td></tr>
            <tr><td><i class="fa fa-check-circle"></i> 产品准备（域名、备案、服务器）</td></tr>
            <tr><td><i class="fa fa-check-circle"></i> 提供技术指导、产品培训、营销顾问</td></tr>
            <!-- 中期 -->
            <tr><td class=""><i class="fa fa-check-circle"></i> 自媒体账号注册</td></tr>
            <tr><td class="bg-success"><i class="fa fa-check-circle"></i> 搜索引擎营销(SEO：5-8个品牌关键词)</td></tr>
            <tr><td class="bg-success"><i class="fa fa-check-circle"></i> 自媒体营销培训(20个自媒体)</td></tr>
            <tr><td class="bg-success"><i class="fa fa-check-circle"></i> 微信公共号运营托管(12篇)</td></tr>
            <tr><td class="bg-success"><i class="fa fa-check-circle"></i> 微场景应用策划和制作（1个）</td></tr>
            <tr><td class="bg-success"><i class="fa fa-check-circle"></i> 原生广告营销（集成<a href="http://www.zhidat.com" target="_blank">直达通</a>）</td></tr>
            <!-- 后期 -->
            <tr><td><i class="fa fa-check-circle"></i> 营销顾问驻场指导</td></tr>
            <tr><td><i class="fa fa-check-circle"></i> 售后24小时技术支持</td></tr>
            <tr><td><i class="fa fa-check-circle"></i> 产品终生免费升级</td></tr>
            <tr><td class="bg-warning"><i class="fa fa-circle-o"></i> 多语言版本支持（总价*80%）</td></tr>
            <tr><td class="text-center"><a href="javascript:void(0);" onclick="_MEIQIA._SHOWPANEL();" class="button alt icon fa-arrow-circle-right">在线咨询</a></td></tr>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
