
.bg-primary{
  background: #ff4486;
}
.bg-success{
  background: #CAF0D8;
}
.bg-info{
  background: #BFE2F7;
}

.text-center{
  text-align: center;
}

.white{
  color: #fff;
}
.red{
  color: #ff4486;
}