<% portfolios = Page.recent(8, :channel => 'portfolio') %>
<!-- Footer -->
<div id="footer-wrapper">
  <footer id="footer" class="container">
    <div class="row">
      <div class="3u">
      
        <!-- Links -->
          <section class="widget links">
            <h3>行业解决方案</h3>
            <ul class="style2">
            <% (0..3).each do |i| %>
              <% post = portfolios[i] %>
              <% break if post.nil? %>
              <li><%= link_to post.title, post_path(post) %></li>
            <% end %>
            </ul>
          </section>
      
      </div>
      <div class="3u">
      
        <!-- Links -->
          <section class="widget links">
            <h3>&nbsp;</h3>
            <ul class="style2">
              <% (4..7).each do |i| %>
                <% post = portfolios[i] %>
                <% break if post.nil? %>
                <li><%= link_to post.title, post_path(post) %></li>
              <% end %>
            </ul>
          </section>
      
      </div>
      <div class="3u">
        <% unless mobile_device? %>
        <!-- Links -->
          <section class="widget links">
            <h3>产品系列</h3>
            <ul class="style2">
              <li><a target="_blank" href="http://www.mshipei.com">企业网站多终端测试：摩适配</a></li>
              <li><a target="_blank" href="http://www.wedxt.com">微场景应用制作工具：维斗喜帖</a></li>
              <li><a target="_blank" href="http://www.yufuwu.cn">产品二维码营销系统</a></li>
              <li><a target="_blank" href="http://www.65960.com">电子商务分销/代理系统</a></li>
            </ul>
          </section>
        <% end %>
      </div>
      <div class="3u">
      
        <!-- Contact -->
          <section class="widget contact last">
            <h3>联系我们</h3>
            <ul>
              <li><a target="_blank" href="http://wpa.qq.com/msgrd?v=3&uin=77632132&site=qq&menu=yes" class="icon fa-qq"><span class="label">QQ</span></a></li>
              <li><a href="/contact" class="icon fa-wechat"><span class="label">微信</span></a></li>
            </ul>
            <p>
            手机：<a href="tel:18080810818">180-8081-0818</a><br />
            座机：(028) 6132-0305</p>
          </section>
      
      </div>
    </div>
    <div class="row">
      <div class="12u">
        <div id="copyright">
          <ul class="menu">
            <li>&copy; 直达客. 2015版权所有</li><% unless mobile_device? %><li>成都市成华区建设北路龙湖三千星座A座2802室</li><% end %>
            <li>蜀ICP备14021922号</li>
            <li>
              <!-- cnzz start -->
              <script src="http://s95.cnzz.com/stat.php?id=1254935503&web_id=1254935503" language="JavaScript"></script>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </footer>
</div>