<!-- Header -->
<div id="header-wrapper">
  <header id="header" class="container">
  
    <!-- Logo -->
      <div id="logo">
        <h1><a href="/" title="直达客">直达客</a></h1>
        <span>精准直达客户，移动你的生意</span>
      </div>
    
    <!-- Nav -->
      <nav id="nav">
        <ul>
          <li class="current"><a href="/">首页</a></li>
          <li><a href="<%= portfolio_path %>">解决方案</a></li>
          <li><a href="<%= price_path %>">价格方案</a></li>
          <li><a href="<%= posts_path %>">使用教程</a></li>
          <li><a href="<%= contact_path %>">联系我们</a></li>
        </ul>
      </nav>
    
  </header>
</div>