<div id="sidebar">

  <!-- Sidebar -->
  <section>
    <ul>
      <li><a href="https://static.meiqia.com/dist/standalone.html?eid=1765" class="button big icon fa-arrow-circle-right">在线咨询</a></li><br/>
      <li><a href="http://builder.zhidak.com" target="_blank" class="button alt big icon fa-cubes">自助建站</a></li>
    </ul>
  </section>

  <section>
    <h3>相关文章</h3>
    <ul class="style2">
      <% @relative_posts.each do |post| %>
        <li><i class="icon fa-<%= ['star', 'star-half', 'star-half-o', 'start-o'][rand(3)]%>"></i>   <a href="<%= post_path(post.id) %>"><%= post.title %></a>
          <br/><small><%= post.keywords %></small>
        </li>
      <% end %>
    </ul>
  </section>

</div>