<div id="sidebar">

  <!-- Sidebar -->
  <section>
    <ul>
      <li><a href="javascript:void(0);" onclick="_MEIQIA._SHOWPANEL();" class="button big icon fa-arrow-circle-right">在线咨询</a></li><br/>
      <li><a href="<%= price_path %>" class="button alt big icon fa-question-circle">价格方案</a></li>
    </ul>
  </section>

  <section>
    <h3>相关文章</h3>
    <ul class="style2">
      <% @relative_posts.each do |post| %>
        <li><i class="icon fa-<%= ['star', 'star-half', 'star-half-o', 'start-o'][rand(3)]%>"></i>   <a href="<%= post_path(post.id) %>"><%= post.title %></a></li>
      <% end %>
    </ul>
  </section>

</div>